/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.docuLink {
  background: #000000;
  transition: all 0.22s ease-in-out;
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px,
    rgba(255, 255, 255, 1) 0px 0px 0px 1px inset;
}

.docuLink:hover {
  background: #282828;
}

.docuLink:focus-visible {
  background: #282828;
}

.docuLink:active {
  background: #383838;
}
