.section {
  padding: 0px 10vw;
  height: 600px;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  color: rgb(237, 237, 239);
}

/* Responsive styles */
@media (max-width: 1300px) {
  .section {
    padding: 0px 10vw 200px 10vw;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-height: fit-content;
  }
}

@media (max-width: 850px) {
  .sectionTitle {
    font-size: 24px;
    line-height: 32px;
  }
}
