.section {
  padding: 0px 10vw 200px 10vw;
  height: 650px;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  color: rgb(237, 237, 239);
}

.sectionDescription {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(126, 125, 134);
}

/* Responsive styles */
@media (max-width: 1300px) {
  .section {
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-height: fit-content;
  }
}

@media (max-width: 700px) {
  .sectionTitle {
    font-size: 24px;
    line-height: 32px;
  }

  .sectionDescription {
    font-size: 16px;
    line-height: 24px;
  }
}
